body {
    background-color: #222831;
}

.title {
    text-align: center;
    color: #00adb5;
    font-weight: bold;
}

.login-form {
    text-align: center;
}

.login-form input {
    padding: 20px;
    border-radius: 4px;
    margin: 10px;
}

.register-form {
    text-align: center;
}

.register-form input {
    padding: 20px;
    border-radius: 4px;
    margin: 10px;
}

#user-name {
    color: #00adb5;
}